<div class="row">
  <div class="panel search-panel collapsed" ng-class="{'collapsed': !searchIsExpanded}">
    <div class="panel-heading">
      <span>Filter your search:</span>
      <div class="toggle-search" ng-init="searchIsExpanded = false" ng-click="searchIsExpanded = !searchIsExpanded">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
    <div class="panel-body">
      <div class="col-md-5 put-space-bottom">
        <label class="control-label">Date Range:</label>
        <input date-range-picker class="form-control date-picker" type="text" ng-model="date">
      </div>

      <div class="form-group">
          <label class="col-md-12 control-label">Utilities:</label>
          <div class="room-utilities">
            <label class="col-sm-2 control-label">
              Jacuzzi
              <input type="checkbox" ng-model="filters.utilities.jacuzzi">
            </label>
            <label class="col-sm-2 control-label">
              Shower
              <input type="checkbox" ng-model="filters.utilities.shower">
            </label>
            <label class="col-sm-2 control-label">
              Bathtub
              <input type="checkbox" ng-model="filters.utilities.bathtub">
            </label>
            <label class="col-sm-2 control-label">
              Television
              <input type="checkbox" ng-model="filters.utilities.television">
            </label>
            <label class="col-sm-2 control-label">
              Telephone
              <input type="checkbox" ng-model="filters.utilities.telephone">
            </label>
            <label class="col-sm-2 control-label">
              Towels
              <input type="checkbox" ng-model="filters.utilities.towels">
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-12 control-label">Services:</label>
          <div class="room-services">
            <label class="col-sm-2 control-label">
              Wifi
              <input type="checkbox" ng-model="filters.services.wifi">
            </label>
            <label class="col-sm-2 control-label">
              Breakfast
              <input type="checkbox" ng-model="filters.services.breakfast">
            </label>
            <label class="col-sm-3 control-label">
              Room Service
              <input type="checkbox" ng-model="filters.services.roomservice">
            </label>
          </div>
        </div>
      
    </div>
    <div class="btn btn-info search-btn" ng-click="filterSearch();">Search</div>

  </div>
</div>

<preloader class="center-horizontal" ng-show="showLoader"></preloader>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-info add-room pull-right" ng-click="addRoom();">+</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 rooms-list">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="room in rooms">
        <div class="room-image-wrapper pull-left">
          <!-- <img ng-src="{{'http://127.0.0.1:3000/photos/' + room.photos[0] || '/images/img-not-available.png'}}" alt="" width=100> -->
          <div mini-gallery room="room"></div>
        </div>
        <div class="pull-left">
          <div>Room Type: {{room.type | capitalize}}</div>
          <div>Budget Type: {{room.budget | capitalize}}</div>
          <div>Price: {{room.price | currency}}</div>
        </div>
        <div class="pull-left">
          <span>Utilities: </span>
          <ul>
            <li ng-repeat="item in utilityFilter(room.utilities)" class="room-utility">{{item | capitalize}}</li>
          </ul>
        </div>
        <div class="pull-left">
          <span>Services: </span>
          <ul>
            <li ng-repeat="item in utilityFilter(room.services)" class="room-utility">{{item | capitalize}}</li>
          </ul>
        </div>

        <div class="btn btn-info edit-btn" ng-click="edit(room);">Edit</div>
      </li>
    </ul>
  </div>
</div>

<div ng-if="showEditModal">
  <div edit-room-modal selected-room="selectedRoom"></div>
</div>

<div ng-if="showAddModal">
  <div add-room-modal></div>
</div>